@charset "utf-8";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

u,
ins,
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
}

label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}

body,
input,
select,
textarea,
button,
img,
fieldset {
  border: none;
}
label,
img,
input,
select,
textarea,
button,
a {
  vertical-align: middle;
}
