:root {
  /* 메인 컬러 */
  --mainBg1: #1686f9;
  --mainBg2: #ecf2fa;

  /* 서브 컬러 */
  --subBg: #efefef;

  /* 버튼 컬러 */
  --buttonBg: #556376;

  /* 기본 색상 세트 */
  --white: #fff;
  --black: #000;
  --grey: #676c74;
}
